[submodule "3rdparty/openblas"]
	path = 3rdparty/openblas
	url = https://github.com/xianyi/OpenBLAS
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
[submodule "3rdparty/protobuf"]
	path = 3rdparty/protobuf
	url = https://github.com/protocolbuffers/protobuf
